<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.business.dao.AircraftDAO">
  <resultMap id="BaseResultMap" type="Aircraft">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATEGORY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AIRCRAFT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectCategoryList"  resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from AIRCRAFT
  	<where>
	    <if test="category != null and type != ''">
	        <![CDATA[ 
	         AND category= #{category ,jdbcType=VARCHAR }                    
	        ]]>
	     </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AIRCRAFT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Aircraft">
    insert into AIRCRAFT (ID, CATEGORY)
    values (#{id,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Aircraft">
    insert into AIRCRAFT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Aircraft">
    update AIRCRAFT
    <set>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Aircraft">
    update AIRCRAFT
    set CATEGORY = #{category,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>